{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LemonGiga</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper green darken-2">
        <ul>
            <li><a href="{% url 'splash' %}"><img class="responsive-image" width="59" height "59" src={% static 'images/logo.png' %}></a></li>
        </ul>
        <ul class="left">
            <li><a href="{% url 'splash' %}">Home</a></li>
            <li><a href="{% url 'index' %}">All Product Reviews</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'person' %}">Dashboard</a></li>
            <li><a href="{% url 'create_comment' %}">Comment</a></li>
        </ul>
        <ul class="right">
            <li><a href="">Register</a></li>
            <li><a href="">Log In</a></li>
            <li><a href="">Logout</a></li>
        </ul>
        </div>
        </div>
    </nav>
</div>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer green">
    <div class="right">Personal Concept by mh610creative</div>
</footer>
</body>