{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 class="center">LemonGiga</h1>
<h3 class="center">The most obscure tech media website <br>on the internet.</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'davebell.jpeg' %}">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
            <div class="card-content">
                <p>I am a very simple card.</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}