{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="center">LemonGiga</h1>
    <h3 class="center">The most obscure tech media website <br>on the internet.</h3>
</div>
<div class="container">
    <div class="row">
        {% for review in reviews %}
            <div class="col s5">
                <div class="card medium">
                    <div class="card-image">
                        <img src="{% static review.pack_shot %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{review.name|truncatewords:"6"}}</span>
                        <p>{{review.description|truncatewords:"10"}}</p>
                    </div>
                    <div class="card-action">
                        <h5 class="text"><a href="{% url 'detail' review.slug %}">More</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}