{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Products</h1>
<div class="container">
<div class="row">
{% for review in reviews %}
{% if review.id != 4 %}
<a href="{% url 'detail' review.slug %}">
<div class="col s4">
<div class="card">
<div class="card-content">{{review.name}}</div>
</div>
</div>
</a>
{% elif review.id != 7%}
<a href="{% url 'detail' review.slug %}">
<div class="col s4">
<div class="card">
<div class="card-content">{{review.name}}</div>
</div>
</div>
</a>
{% else %}
</div
<div class="row">
<a href="{% url 'detail' review.slug %}">
<div class="col s4">
<div class="card">
<div class="card-content">{{review.name}}</div>
</div>
</div>
</a>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}