{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1>Dashboard</h1>
</div>
<div class="container">
<div class="">
<p>Welcome back, {{person.name}}</p>
<p>Join Date: {{person.date_created.date}}</p>
{% if request.user.person.profile_pic %}
<img class="profile-pic" width="180" height="260" src="{{ request.user.person.profile_pic.url }}">
{% else %}
<img class="" width="120" height="120" src="{% static 'images/userAvatar.png' %}">
{% endif %}
</div>
</div
<div class="container">
<div class="justify-content right">
{%for comment in comments %}
<p>{{comment.person}} {{comment.gear}} {{comment.comment}}</p>
{% endfor %}
</div>
</div>
{% endblock %}