{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Products</h1>
<div class="container">
<div class="row">
{% for product in products %}
{% if product.id != 4 %}
<div class="col s4">
<div class="card">
<div class="card-content">{{product.name}}</div>
</div>
</div>
{% elif product.id != 7%}
<div class="col s4">
<div class="card">
<div class="card-content">{{product.name}}</div>
</div>
</div>
{% else %}
</div>
<div class="row">
<div class="col s4">
<div class="card">
<div class="card-content">{{product.name}}</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>







{% comment %} <div class="col s4">
<div class="card">
<div class="card-content">Product 2</div>
</div>
</div>
<div class="col s4">
<div class="card">
<div class="card-content">Product 3</div>
</div>
</div>
</div>

<div class="row">
<div class="col s4">
<div class="card">
<div class="card-content">Product 4</div>
</div>
</div>
<div class="col s4">
<div class="card">
<div class="card-content">Product 5</div>
</div>
</div>
<div class="col s4">
<div class="card">
<div class="card-content">Product 6</div>
</div>
</div>
</div>

<div class="row">
<div class="col s4">
<div class="card">
<div class="card-content">Product 7</div>
</div>
</div>
<div class="col s4">
<div class="card">
<div class="card-content">Product 8</div>
</div>
</div>
<div class="col s4">
<div class="card">
<div class="card-content">Product 9</div>
</div>
</div> {% endcomment %}




</div>
</div>
{% endblock %}