{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-content">
        <h3>{{review.name}}</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <h5>{{form.comment.label}}</h5>
                {{form.comment}}
                <button class="btn waves-effect waves-light" type="submit" name="action" value="">{{button}} Comment</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}